## === OS === ##
.DS_Store
Thumbs.db

## === IDEs and editors === ##
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## === Visual Studio === ##
.vs/
*.csproj.user

## === Build results === ##
bin/
obj/
[Bb]uild/
[Ll]og/
artifacts/
*.dll
*.exe
*.pdb
*.cache
*.log
*.mdb

## === NuGet === ##
*.nupkg
.nuget/
packages/

## === Docker === ##
*.container
*.tar
*.img
docker-compose.override.yml

## === Other === ##
*.dbmdl
*.bak
*.swp
*.swo
*.tmp
*.orig
*.deb
